@page "/AddProduct"
@using HttpModels

@inject IClock _clock
@inject HttpClient Http
@inject ICatalog _catalog

@code {
    
    private List<Product> _products;
    private List<Category> _categories;
    private Product Product { get; set; }
    private string requestUri = "https://localhost:7214/products";

    protected override async Task OnInitializedAsync()
    {
        var products= await Http.GetFromJsonAsync<Product[]>("https://localhost:7214/catalog/products");
        _products = products.ToList();
        var categories= await Http.GetFromJsonAsync<Category[]>("https://localhost:7214/catalog/categories");
        _categories = categories.ToList();
    }

    string name ="";
    string imageURL="";
    string categoryId = "0";
    string price = "0";
    async Task AddProductToCatalog()
    {
        await Http.PostAsync($"https://localhost:7214/catalog/add?name={name}&categoryId={categoryId}&price={price}&img={imageURL}", null);
    }
    
}

<h2>Add Product</h2>
<Form OnSubmit="AddProductToCatalog">
  <DataAnnotationsValidator/>
 
  <table>
  <tr><td>Category:</td><td> <select @bind="categoryId">
      @foreach (var item in _categories)
      {
          <option value="@item.Id">@item.Name</option>
      }
  </select></td></tr>
  <tr><td>Name:</td><td><input type="text" @bind="name" /></td></tr>
  <tr><td>Price:</td><td> <input type="text" @bind="price" /></td></tr>
  <tr><td>ImageURL:</td><td> <input type="text" @bind="imageURL" /></td></tr>

  <tr><td><input type="submit" value="Add product"/></td></tr>
  </table>

</Form>


<ul>
    @foreach (var @category in _products.GroupBy(x => x.CategoryId))
    {
        <li>
            <ul><div style="font-size: 40px;">@_categories.First(i => i.Id == category.Key).Name</div>
                @foreach (var product in category)
                {
                    <li><img src="@product.Image" width="100" height="100"/><div>@product.Name :: @product.Price</div></li> 
                }
            </ul></li>
    }
</ul>