@page "/Cart"
@using HttpModels
<h3>Cart</h3>
@inject ICart _cart

@code {
    private void AddProductToCart(int productId)
    {
        var product = _cart.Products.First(p => p.Key.Id == productId);
        _cart.AddAsync(product.Key);
    }
    private void RemoveProductFromCart(int productId)
    {
        var product = _cart.Products.First(p => p.Key.Id == productId);
        _cart.RemoveAsync(product.Key);
    }

    private void ClearCart()
    {
        _cart.Products.Clear();
    }
}

<button class="btn btn-primary" @onclick="ClearCart">Clear cart</button><br>

<ul>
@foreach (var @category in _cart.Products.GroupBy(x => x.Key.CategoryId))
{
    <li>
        <ul><div style="font-size: 40px;">@category.Key</div>
            @foreach (var product in category)
            {
                <li>
                    <a href="/ProductInfo/@product.Key.Id"><img src="@product.Key.Image" width="100" height="100"/></a>
                    <br>
                    <div>@product.Key.Name :: @product.Key.Price</div>
                    <br/> <input type="submit" value="+" @onclick="@(e => AddProductToCart(@product.Key.Id))">
                     <div>Кол-во: @product.Value</div>
                    <input type="submit" value="-" @onclick="@(e => RemoveProductFromCart(@product.Key.Id))" >
                </li> 
            }
        </ul>
    </li>
}
</ul>